body {
    margin: 0;
    padding: 0;
}

h3 {
    text-align: center;
}

#popup {
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    width: 24.7%;
    height: 100%;
    border: 2px solid violet;
    background-color: purple;
    opacity: 50;
}

#title-description {
    position: relative;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

#building-description {
    position: relative;
    text-align: justify;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    top: 30%;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0%;
    width: 75%;
}

#button-container{
    width: 74.9%;
    right: 0%;
    top:0;
    position: absolute;
    background-color: purple;
    border: 1px solid violet;
}

button {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid coral;
    background-color: white;
    font-weight: bold;
}

button:hover {
    color: white;
    background-color: coral;
}

#zoom-in {
    position: relative;
    margin-left: 40%;
    text-align: center;
}

#fly-to-campus{
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.marker {
    background-image: url("nyu_logo.png");
    background-size: cover;
    opacity: 50%;
    width: 80px;
    height: 50px;
    border-radius: 0%;
    cursor: pointer;
}

.marker:hover {
    opacity: 100%;
    
}