body {
  background-color: #527b8e;
}

h3 {
  text-align: center;
  color: black;
  font-size: 25px;
  font-family: Sans-Serif;
}

p {
  text-align: center;
}

#submitted-question {
  font-family: Sans-Serif;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

#submit-button {
  display: flex;
  justify-content: center;
  color: blue;
  border-color: #8b575c;
  background-color: white;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 12px;
}

#input_area {
  width: 250px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  border-color: #d3d5d4;
  border-radius: 5px;
}

#eight-ball-answer {
  text-align: center;
  font-size: 25px;
  font-family: Sans-Serif;
  font-style: italic;
}

#notify {
  text-align: center;
  font-size: 15px;
  font-family: Sans-Serif;
  font-weight: bold;
}
